<div class="contsiner-fluid">

    <form>
        <div class="row justify-content-space-between">
            <div class="col-12 col-md-6">
                <h1>Edit profile</h1>
                <label for="File">File</label>
                <input type="file" class="form-control select-file" id="File" data-preview="img-preview" name="File"
                    accept=".jpg, .jpeg, .png">
            </div>
            <div class="col-12 col-md-6">
                <img src="" alt="Preview" id="img-preview"
                    style="width: 150px; height: 150px; object-fit: cover; display: none;"
                    class="rounded-circle shadow">
            </div>
        </div>
    </form>
</div>