.logo {
    width: 90px;
}


/* DBD Image in Footer */

.footer-dbd-img {
    max-width: 120px;
    /* จำกัดขนาดไม่ให้ใหญ่เกิน */
    width: 100%;
    /* ให้ responsive ตาม parent */
    height: auto;
    /* รักษาสัดส่วนภาพ */
    display: block;
    /* ป้องกัน inline space */
    margin-bottom: 0.5rem;
    /* เว้นระยะก่อน <small> */
}

.welcome {
    margin-top: 60px;
}

#typed-text {
    font-weight: bold;
    padding-right: 5px;
    animation: blink 0.8s infinite;
}

#eolHeroCarousel img {
    height: 200px;
}

@keyframes blink {
    0%,
    100% {
        border-color: white;
    }
    50% {
        border-color: transparent;
    }
}

a {
    text-decoration: none;
}